<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v6.2" />
	</startup>
	<connectionStrings>
		<!--<add connectionString="Data Source=INJ; " name="IIMT" providerName="System.Data.OracleClient" />-->
		<add name="DataHub_OESSHEEntities" connectionString="Data Source=hoeldsqedm01; Initial Catalog=DataHub_OESSHE;Integrated Security=SSPI;"/>
		<!--<add connectionString="Data Source=IIMA; User Id=serrami; Password=Pass4SE2; Pooling=True; Min Pool Size=1; Max Pool Size = 10; Connection Lifetime=15; " name="IIMA" providerName="System.Data.OracleClient" />-->
		<!--<add connectionString="Data Source=IIMP; User Id=serrami; Password=Pass4SE8; Pooling=True; Min Pool Size=1; Max Pool Size = 10; Connection Lifetime=15; Connection Timeout=15; Incr Pool Size=1; Decr Pool Size=1; Validate Connection = False" name="IIMP" providerName="System.Data.OracleClient" />-->
	</connectionStrings>
  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->

</configuration>